.city-simple-weathercard{
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.city-simple-weathercard .sub-column{
  border-radius: 20px;
  background-size: 'cover';
  background-repeat: no-repeat; /* Avoid repeating the image */
  background-position: center; 
}

.city-simple-weathercard .weather-icon img{
  width: 50px;
  height: 50px;
}

.city-simple-weathercard .temperature_range{
  margin: 10px 0 10px 0;
}